!!!
%html
  %head
    <script type="text/javascript" src="/javascripts/yahoo-dom-event.js"></script> 
    <script type="text/javascript" src="/javascripts/element-min.js"></script> 
    <script type="text/javascript" src="/javascripts/uploader-min.js"></script> 
    = javascript_include_tag "jquery", "yuppie.js"
    = stylesheet_link_tag "yuppie"
  
  %body
    = yield
