!!!
%html
  %head
    <!-- Dependencies --> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script> 
    <!-- Source files --> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/uploader/uploader-min.js"></script> 
    = javascript_include_tag "jquery", "yuppie.js"
    = stylesheet_link_tag "yuppie"
  
  %body
    = yield
